*{
    margin: 0;
    padding: 0;
}

.box1{
    width: 100%;
    height: 100vh;
    background: url(https://picsum.photos/1200/300);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: grid;
    place-items: center;
    font-size: 120px;
    font-weight: 60px;
    -webkit-text-stroke: 5px red;
}
.box2{
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    background: url(https://picsum.photos/1200/300?random=1);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: grid;
    place-items: center;
    font-size: 120px;
    font-weight: 60px;
    -webkit-text-stroke: 5px brown;
}
.box3{
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    background: url(https://picsum.photos/1200/300?random=2);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: grid;
    place-items: center;
    font-size: 120px;
    font-weight: 60px;
    -webkit-text-stroke: 5px gold;
}
.box4{
    width: 100%;
    height: 100vh;
    width: 100%;
    height: 100vh;
    background: url(https://picsum.photos/1200/300?random=3);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: grid;
    place-items: center;
    font-size: 120px;
    font-weight: 60px;
    -webkit-text-stroke: 5px darkblue;
}


.name{
    background: url(https://picsum.photos/1200/300?random=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name2{
    background: url(https://picsum.photos/1200/300?random=2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name3{
    background: url(https://picsum.photos/1200/300?random=3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.name4{
    background: url(https://picsum.photos/1200/300?random=4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}